{% extends 'layout.html' %}

{%block title%} Acerca de s{%endblock%}

{%block content%}

<div class="container-formu">
    <div class="column">
        <h1>Acceso</h1>
        <h5>¿No tienes una cuenta?</h5>
        <p><a href="/registrate">Regístrate aquí</a></p>
        <input type="text" placeholder="Correo">
        <input type="password" placeholder="Contraseña">
        <p><a href="#">¿Olvidaste tu contraseña?</a></p>
        <button class="btn" style="background: red;">Iniciar sesión</button>
    </div>
</div>
 
<h1>acceso</h1>
<h3>29-05-2023</h3>
{%endblock%}