{% extends 'store/layout.html' %}
{%load static%}

{%block title%}Acerca de{%endblock%}

{%block content%}

<link rel="stylesheet" type="text/css" href="{% static 'css/acercade.css'%}">


<div class="container-fluid">
    <div class="row align-items-start">
      <div class="col-md-12 col-12">
        <strong>
            <h2>Nuestra historia</h2>
        </strong>
        <p style="font-size: 14px; padding-left: 10%;">
            Se da a conocer una breve reseña de lo que es café Teresa y de sus inicios que parten con la
            organización de la Asociación Unión de Pequeños Caficultores UPC, la cual queda
            legalmente constituida el 15 de Julio de 1998, iniciando sus actividades con 20 socios
            fundadores, en la actualidad la Asociación cuenta con 155 socios entre ellos 89 hombres y
            66 mujeres. La Asociación es una entidad no lucrativa, privada, científica, socio cultural,
            educativa, ecológica, mutualista, apolítica y no religiosa. El domicilio actual de la Asociación
            está ubicado en la Aldea Camojallito del municipio La Democracia, departamento de
            Huehuetenango.
        </p>
        <p style="font-size: 14px;">
            Los fines y objetivos de la Asociación son: Promover y fomentar el
            desarrollo integral y sostenible de las comunidades, a través de préstamos solicitados a
            diversas instancias, promover y mejorar el desarrollo de la producción agrícola, artesanal y
            pecuaria, coadyuvar al trabajo para erradicar el analfabetismo, promover la capacitación y
            participación de la mujer al desarrollo de la comunidad, solicitar y administrar donaciones
            o préstamos que se logren para el logro de los fines de la asociación.
        </p>
        <p style="font-size: 14px;">
            Impulsar proyectos de
            comercialización integral para mejorar los ingresos económicos de las bases, promover la
            infraestructura, servicios indispensables, y expendios de víveres de primera necesidad,
            impulsar la organización comunal, que servirá para lograr un mejor nivel de vida, y promover
            la producción, comercialización y procesamiento de café.
        </p>

      </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row align-items-start">
      <div class="col-md-12 col-12">
        <div class="col-md-4 offset-md-4"></div>
        <img src="{% static 'image/equipoteresa.jpg'%}" alt="Imagen">
      </div>
    </div>
</div>

<div class="spacer"></div>

<div class="container-fluid">
  <div class="row align-items-start">
    <div class="col-md-6 col-12">
      <div class="col-md-4 offset-md-4"></div>
      <img src="{% static 'image/mision.jpg'%}" alt="Imagen" style="border-radius: 200px 20px 200px 200px; 
      width: 80%;">
    </div>
    <div class="col-md-6 col-12">
      <strong>
        <h1 style="padding-right: 15%; padding-left: 15%; margin-top: 10%;">Misión</h1>
      </strong>
      <p style="padding-right: 15%; padding-left: 15%;">
        Somos una organización de caficultores que promueve el desarrollo integral de las
        comunidades, a través de la gestión de la cadena de valor del café, para mejorar la calidad
        de vida de las y los socios.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row align-items-start">
    <div class="col-md-6 col-12">
      <strong>
        <h1 style="padding-right: 15%; padding-left: 15%; margin-top: 10%;">Vision</h1>
      </strong>
      <p style="padding-right: 15%; padding-left: 15%;">
            Ser una asociación innovadora en la cadena de valor del café, que satisface las
            demandas del mercado, buscando el desarrollo integral de las y los socios.
      </p> 
    </div>
    <div class="col-md-6 col-12">
      <div class="col-md-4 offset-md-4"></div>
      <img src="{% static 'image/vision.jpg'%}" alt="Imagen" style="border-radius: 20px 200px 200px 200px; 
      width: 80%;">
    </div>
  </div>
</div>

<div class="container-fluid">
    <div class="row align-items-start">
      <div class="col-md-6 col-12">
        <div class="col-md-4 offset-md-4"></div>
        <img src="{% static 'image/valores.jpg'%}" alt="Imagen" style="border-radius: 200px 20px 200px 200px; width:80%">
      </div>
      <div class="col-md-6 col-12">
        <strong>
          <h1 style="padding-right: 15%; padding-left: 15%; margin-top: 10%;">Valores</h1>
        </strong>
        <p style="padding-right: 15%; padding-left: 15%;">
            Honradez, respeto, lealtad, solidaridad, igualdad, equidad, responsabilidad
        </p> 
      </div>
    </div>
</div>


<div class="spacer"></div>
{%endblock%}