{% extends 'store/layout.html' %}
{%load static%}

{%block title%}Acerca de{%endblock%}

{%block content%}


<div class="container">
  <div class="row align-items-start">
    <div class="col-md-6 col-12" style="height: 330px; overflow: hidden;">
      <div class="col-md-12 offset-md-12">
        <img src="{% static 'image/equipoteresa.jpg'%}" alt="Imagen">
      </div>
    </div>
    <div class="col-md-6 col-12">
      <strong>
        <h1 style="padding-right: 1%; padding-left: 1%; font-size: 32px;">Nuestra Historia</h1>
      </strong>
      <p style="padding-right: 1%; padding-left: 1%; font-size: 13px; text-align: justify;">
        Se da a conocer una breve reseña de lo que es café Teresa y de sus inicios que parten con la organización de la Asociación Unión de Pequeños Caficultores UPC, la cual queda legalmente constituida el 15 de Julio de 1998, iniciando sus actividades con 20 socios fundadores, en la actualidad la Asociación cuenta con 155 socios entre ellos 89 hombres y 66 mujeres. La Asociación es una entidad no lucrativa, privada, científica, socio cultural, educativa, ecológica, mutualista, apolítica y no religiosa. El domicilio actual de la Asociación está ubicado en la Aldea Camojallito del municipio La Democracia, departamento de Huehuetenango.
      </p>
      <p style="padding-right: 1%; padding-left: 1%; font-size: 13px; text-align: justify;">
        Los fines y objetivos de la Asociación son: Promover y fomentar el desarrollo integral y sostenible de las comunidades, a través de préstamos solicitados a diversas instancias, promover y mejorar el desarrollo de la producción agrícola, artesanal y pecuaria, coadyuvar al trabajo para erradicar el analfabetismo, promover la capacitación y participación de la mujer al desarrollo de la comunidad, solicitar y administrar donaciones o préstamos que se logren para el logro de los fines de la asociación.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row align-items-start">
    <div class="col-md-12 col-12">
      <p style="padding-right: 1%; padding-left: 1%; font-size: 14px; text-align: justify;">
        Impulsar proyectos de comercialización integral para mejorar los ingresos económicos de las bases, promover la infraestructura, servicios indispensables, y expendios de víveres de primera necesidad, impulsar la organización comunal, que servirá para lograr un mejor nivel de vida, y promover la producción, comercialización y procesamiento de café.
      </p>
    </div>
  </div>
</div>


<div class="container">
  <div class="row align-items-start">
    <div class="col-md-2 col-12" style="height: 150px; overflow: hidden;">
      <div class="col-md-12 offset-md-12" style="width: 200px; height: 200px;">
        <img src="{% static 'image/vision.jpg'%}" alt="Imagen">
      </div>
    </div>
    <div class="col-md-10 col-12" style="height: 150px;">
      <strong>
        <h1 style="padding-right: 1%; padding-left: 1%; font-size: 16px;">Mision</h1>
      </strong>
      <p style="padding-right: 1%; padding-left: 1%; font-size: 14px; text-align: justify;">
        Somos una organización de caficultores que promueve el desarrollo integral de las comunidades, a través de la gestión de la cadena de valor del café, para mejorar la calidad de vida de las y los socios.
      </p>
    </div>
  </div>
</div>

<div class="spacer" style="height: 50px;"></div>

<div class="container">
  <div class="row align-items-start">
    <div class="col-md-10 col-12" style="height: 150px;">
      <strong>
        <h1 style="padding-right: 1%; padding-left: 1%; font-size: 16px;">Vision</h1>
      </strong>
      <p style="padding-right: 1%; padding-left: 1%; font-size: 14px; text-align: justify;">
        Ser una asociación innovadora en la cadena de valor del café, que satisface las demandas del mercado, buscando el desarrollo integral de las y los socios.
      </p>
    </div>
    <div class="col-md-2 col-12" style="height: 150px; overflow: hidden;">
      <div class="col-md-12 offset-md-12" style="width: 200px; height: 200px;">
        <img src="{% static 'image/mision.jpg'%}" alt="Imagen">
      </div>
    </div>
  </div>
</div>



<div class="spacer" style="height: 50px;"></div>

<div class="container-md">
  <div class="row">
    <div class="col-md-4 col-12" style="height: 200px; position: relative; overflow: hidden;">
      <img src="{% static 'image/va.jpg'%}" alt="Imagen" style="width: 100%; height: 100%;">
      <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1;">
        <p style="color:white; font-size: 50px;">VA</p>
      </div>
    </div>
    <div class="col-md-4 col-12" style="height: 200px; position: relative; overflow: hidden;">
      <img src="{% static 'image/lo.jpg'%}" alt="Imagen" style="width: 100%; height: 100%;">
      <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1;">
        <p style="color:white; font-size: 50px;">LO</p>
      </div>
    </div>
    <div class="col-md-4 col-12" style="height: 200px; position: relative; overflow: hidden;">
      <img src="{% static 'image/res.jpg'%}" alt="Imagen" style="width: 100%; height: 100%;">
      <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1;">
        <p style="color:white; font-size: 50px;">RES</p>
      </div>
    </div>
  </div>
</div>


<div class="container-md">
  <div class="row align-items-start">
    <div class="col-md-12 col-12">
      <p style="padding-right: 1%; padding-left: 1%; font-size: 20px; text-align: justify; padding-top: 5px;">
          Honradez, respeto, lealtad, solidaridad, igualdad, equidad y responsabilidad.
      </p>
    </div>
  </div>
</div>

<div class="spacer" style="height: 50px;"></div>


{%endblock%}