{% extends 'store/layout.html' %}
{%load static%}
{%block title%} Nuestro Cafe {%endblock%}
{%block content%}

<div class="container-fluid">
    <div class="row align-items-start">
        <div class="col-md-6 col-12">
            <div class="col-md-4 offset-md-4"></div>
            <img src="{% static 'image/entrega01.jpg'%}" alt="Imagen">
        </div>
        <div class="col-md-6 col-12">
            <div class="row mb-4">
                <div class="col-md-6 col-12">
                    <img src="{% static 'image/galeria02.jpg'%}" alt="Imagen" style="width: 100%;">
                </div>
                <div class="col-md-6 col-12">
                    <img src="{% static 'image/galeria03.jpg'%}" alt="Imagen" style="width: 100%;">
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-6 col-12">
                    <img src="{% static 'image/galeria04.jpg'%}" alt="Imagen" style="width: 100%;">
                </div>
                <div class="col-md-6 col-12">
                    <img src="{% static 'image/galeria05.jpg'%}" alt="Imagen" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row align-items-start">
        <div class="col-md-6 col-12">
            <div class="row mb-4">
                <div class="col-md-6 col-12">
                    <img src="{% static 'image/galeria06.jpg'%}" alt="Imagen" style="width: 100%;">
                </div>
                <div class="col-md-6 col-12">
                    <img src="{% static 'image/galeria07.jpg'%}" alt="Imagen" style="width: 100%;">
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-6 col-12">
                    <img src="{% static 'image/galeria08.jpg'%}" alt="Imagen" style="width: 100%;">
                </div>
                <div class="col-md-6 col-12">
                    <img src="{% static 'image/galeria09.jpg'%}" alt="Imagen" style="width: 100%; height: 100%;">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="col-md-4 offset-md-4"></div>
            <img src="{% static 'image/galeria10.jpg'%}" alt="Imagen" style="width: 100%;">
        </div>
    </div>
</div>

{%endblock%}

