{% extends 'store/layout.html' %}
{% load static %}
{%block title%} Exito {%endblock%}
{% block content %}

<div class="container" style="padding: 0px; background: #c9dbcc; text-align: center; height: 500px;">
    <div class="row align-items-center">
        <div class="col-md-12 col-12">
            <img style="width: 200px" src="{% static 'images/logo.png'%}" alt="Imagen">
        </div>
        <div class="col-md-12 col-12">
            <img style="width: 40px" src="{% static 'images/error.png'%}" alt="Imagen">
        </div>
        <div class="col-md-12 col-12 text-center">
            <p style="font-size: 30px">
                Error no se puedo realizar la transacción
            </p>
            <p>
                <h2 style="font-size: 12px;">Con tu compra <span class="subrayado-amarillo" style="background-color: #ef7a24;  color: white; font-size: 12px">aportas a la economía</span> de las familias guatemaltecas de la región de Huehuetenango</h2>
            </p>
            <p>
                <a class="btn btn-success" style="text-decoration: none;" href="{% url 'checkout' %}">
                    Aceptar
                </a>
            </p>
        </div>
    </div>
</div>

<div class="spacer" style="height: 50px;"></div>

{% endblock content %}