{% extends 'store/layout.html' %}
{% load static %}
{%block title%} Exito {%endblock%}
{% block content %}

<div class="container" style="padding: 0px; background: #c9dbcc; text-align: center; height: 500px;">
    <div class="row align-items-center">
        <div class="col-md-12 col-12">
            <img style="width: 200px" src="{% static 'images/logo.png'%}" alt="Imagen">
        </div>
        <div class="col-md-12 col-12">
            <img style="width: 40px" src="{% static 'images/exito.png'%}" alt="Imagen">
        </div>
        <div class="col-md-12 col-12 text-center">
            <p style="font-size: 30px">
                Compra exitosa
            </p>
            <p>
                <h2 style="font-size: 12px;">Con tu compra <span class="subrayado-amarillo" style="background-color: #ef7a24;  color: white; font-size: 12px">aportas a la economía</span> de las familias guatemaltecas de la región de Huehuetenango</h2>
            </p>
            <p>
                <a id="borrarDatos" class="btn btn-success" style="text-decoration: none;" href="{% url 'store' %}">
                    Aceptar
                </a>
            </p>
        </div>
    </div>
</div>



    <div class="spacer" style="height: 50px;"></div>
    <script>
        // Función para borrar cookies, cache y localStorage
        function borrarDatos() {
            // Borrar cookies
            const cookies = document.cookie.split("; ");
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i];
                const igualPos = cookie.indexOf("=");
                const nombre = igualPos > -1 ? cookie.substr(0, igualPos) : cookie;
                document.cookie = nombre + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            }

            // Borrar cache (puedes personalizar esto según tus necesidades)
            if ('caches' in window) {
                caches.keys().then(function(cacheNames) {
                    cacheNames.forEach(function(cacheName) {
                        caches.delete(cacheName);
                    });
                });
            }

            // Borrar localStorage
            localStorage.clear();
        }

        // Agregar un evento click al botón
        const botonBorrar = document.getElementById('borrarDatos');
        botonBorrar.addEventListener('click', borrarDatos);
    </script>

{% endblock content %}