{% extends 'store/layout.html' %}
{%load static%}

{%block title%} Inicio {%endblock%}
{%block content%}

<style>
	h2,h3,h4,h5,h6{
		color: #623E1A;
		text-align: justify;
	}
	h1{
		text-align: center;
	}
</style>


<div class="container">
	<div class="row align-items-center">
		<p class="fs-1">
			<strong><h3 style="text-align: center; color:#623E1A;">Términos y condiciones</h3></strong>
		</p>
		<p class="text-break">		
			<strong><h6>1.	Introducción.</h6></strong>
		</p>
		<p class="fs-6">
			El presente documento (conjuntamente con todos los documentos en él mencionados) establece las condiciones por las que se rige el uso de esta página web y la compra de productos en la misma ("Condiciones"), cualquiera que sea el medio del que se pueda acceder. Le rogamos que lea atentamente las presentes Condiciones, nuestra Política de Privacidad y Cookies y las Políticas de Protección de Datos Personales antes de usar esta página web. Al utilizar esta página web o hacer un pedido a través de la misma usted consiente quedar vinculado por estas Condiciones y por nuestras Políticas de Protección de Datos Personales, por lo que, si no está usted de acuerdo con todas las Condiciones o con las Políticas de Protección de Datos Personales, no debe usar esta página web.
		</p>
		<p class="fs-6">
			Estas Condiciones podrán ser modificadas. Por lo que es su responsabilidad leerlas cada vez que va realizar una compra a través de la página web, ya que las condiciones vigentes en el momento de celebración de cada Contrato serán las que le resulten aplicables.
		</p>
		<p class="fs-6">
			Si tiene alguna pregunta relacionada a lo descrito anteriormente puede ponerse en contacto con nosotros a través de <strong>ventas@gtcafeteresa.com</strong>
		</p>
		<p class="text-break">		
			<strong><h6>2.	Uso autorizado del sitio web Teresa</h6></strong>
		</p>
		<p class="fs-6">
			Al hacer uso de esta página web y realizar pedidos a través de la misma el usuario del sitio se compromete a: 
		</p>
		<p class="fs-6">	
			<ul>
				<li>
					<p class="fs-6">
						Hacer uso de esta página web únicamente para realizar consultas o pedidos legalmente válidos
					</p>
				</li>
				<li>
					<p class="fs-6">
						No realizar ningún pedido falso o fraudulento. Si razonablemente se pudiera considerar que se ha hecho un 	pedido de esta índole TERESA estará autorizado a anularlo e informar a las autoridades pertinentes. 	
					</p>
				</li>
				<li>
					<p class="fs-6">
						Proveer a TERESA su dirección de correo electrónico, dirección y/u otros datos de contacto de forma veraz y exacta. Así mismo, consiente que TERESA podrá hacer uso de dicha información para ponerse en contacto con el usuario si es necesario. De igual forma, es necesario resaltar que, si los datos proporcionados son sujetos de actualización, la responsabilidad de informar dichos cambios corresponde al comprador.
					</p>	
				</li>
				<li>
					<p class="fs-6">
						Si el usuario no facilita a TERESA toda la información que ésta le requiere, no podrá atenderse el pedido.
					</p>
				</li>
			</ul>
		</p>
		<p class="text-break">		
			<strong><h6>3.	Capacidad legal.</h6></strong>
		</p>
		<p class="fs-6">
			Al realizar un pedido a través de esta página web, el usuario declara ser mayor de 18 años y tener capacidad legal para celebrar contratos. Los menores de edad no podrán realizar compras a través de la página web, salvo que obren representados por quien según la ley corresponda.
		</p>

		<p class="text-break">		
			<strong><h6>4.	Procedimiento para la realización de pedidos. </h6></strong>
		</p>
		<p class="fs-6">
			Para realizar un pedido, el usuario deberá añadir los productos al carrito de compra para, seguir el procedimiento de compra en línea y hacer clic en "Autorizar pago". 
		</p>
		<p class="fs-6">
			Tras esto, el usuario recibirá un correo electrónico para la "Confirmación de Pedido". Asimismo, el usuario será informado mediante correo electrónico que el producto está siendo enviado (la "Confirmación de Envío").
		</p>

		<p class="text-break">		
			<strong><h6>5.	Rectificación de información y detección de errores en pedidos.</h6></strong>
		</p>
		<p class="fs-6">
			En caso de que el usuario detectase que se ha producido un error al introducir sus datos personales durante su registro, podrá corregirlos durante el proceso de compra.
		</p>
		<p class="fs-6">
			Esta página web muestra ventanas de confirmación en diversos apartados del proceso de compra que no permiten proseguir con el pedido si los datos de estos apartados no se han proporcionado correctamente. Asimismo, esta página web ofrece los detalles de todos los artículos que haya añadido a su cesta durante el proceso de compra, de forma que, antes de realizar el pago, el usuario podrá modificar los datos de su pedido. 
		</p>
		<p class="fs-6">
			Si el usuario detectase un error en su pedido con posterioridad a la finalización del proceso de pago, deberá ponerse en contacto de manera inmediata con el servicio de atención al cliente, mediante un correo electrónico. Lo anterior puede ejecutarse dentro de los 7 días calendario posteriores a la formalización del pedido, una vez transcurrido ese plazo, TERESA no se hace responsable por su solicitud y/o pedido.
		</p>
		<p class="text-break">		
			<strong><h6>6.	Venta condicionada.</h6></strong>
		</p>
		<p class="fs-6">
			Todos los pedidos están sujetos a la disponibilidad de los productos. Si se produjeran dificultades en cuanto al suministro de productos o si no quedan artículos en stock, TERESA informará de dicha situación al usuario y se podrá reembolsar la cantidad abonada dentro de los 7 días hábiles posteriores al evento.
		</p>		

		<p class="text-break">		
			<strong><h6>7.	Envió de productos.</h6></strong>
		</p>
		<p class="fs-6">
			Salvo que existan circunstancias imprevistas o extraordinarias, Teresa enviará el pedido en un plazo máximo de 5 días hábiles a contar desde la fecha de la Confirmación de Pedido. <br>
			<br>

			En el momento de procesar la compra, la plataforma mostrará el costo del envío. <br><br>

			Se podrá únicamente solicitar la entrega de los productos a domicilio, proporcionando necesariamente los datos de la dirección de entrega.<br> <br>

			Si por algún motivo TERESA no pudiese cumplir con la fecha de entrega, informará al usuario de esta circunstancia y le dará la opción de seguir adelante con la compra estableciendo una nueva fecha de entrega o bien anular el pedido con el reembolso total del precio pagado. <br><br>

			A efectos de las presentes Condiciones, se entenderá que se ha producido la "entrega" o que el pedido ha sido "entregado" en el momento en el que el usuario o un tercero indicado por éste entre en posesión material del producto.<br><br>
		</p>		

		<p class="text-break">		
			<strong><h6>8.	Imposibilidad de entrega.</h6></strong>
		</p>
		<p class="fs-6">
			Si TERESA no puede efectuar la entrega del pedido tras dos (2) intentos, el pedido será retornado a TERESA. <br><br>

			En este caso el usuario podrá solicitar que el pedido sea enviado nuevamente, pagando los gastos de envío nuevamente. <br><br>

			En caso de que transcurridos 15 días desde que el pedido esté disponible para su entrega, y el pedido no haya sido entregado por causa no imputable a TERESA, se entenderá que el usuario desea desistir de la compra y el contrato se disolverá.<br><br>

			Como consecuencia de la resolución del contrato, TERESA devolverá todos los pagos recibidos de usted, salvo los gastos de envío, en el plazo máximo de 30 días desde la fecha en que se resuelva el contrato. Lo anterior una vez se acredite mediante certificación bancaria, la cuenta a la que se debe realizar dicho reembolso.<br><br>
		</p>
		<p class="text-break">		
			<strong><h6>9.	Precio y pago.</h6></strong>
		</p>
		<p class="fs-6">
			•	El precio de cada producto exhibido en el sitio web incluye impuestos (IVA). <br>
			•	El precio de cada producto exhibido en el sitio web no incluye gastos de envío, estos se calcularán al finalizar la compra de acuerdo al Departamento y Ciudad seleccionado por el cliente.
			<br>
			•	Los precios pueden cambiar en cualquier momento, lo posibles cambios no afectaran los pedidos con respecto a los que ya TERESA haya enviado una confirmación de pedido.<br>
			•	Podrá utilizarse como medio de pago las tarjetas de crédito o débito VISA.<br>
			•	Al hacer clic en "Autorizar Pago" el usuario está afirmando y confirmando que la tarjeta de crédito es suya y que el origen de sus fondos es lícito.<br>
			•	Los pagos con tarjetas de crédito podrán estar sujetas a comprobaciones y autorizaciones por parte de la entidad emisora de las mismas, pero si dicha entidad no autorizase el pago, no se hará responsable por ningún retraso o falta de entrega y el contrato de compraventa no se entenderá celebrado en dicho caso.<br>    
			•	De igual forma y al hacer clic en la autorización de pago, TERESA manifiestan que los precios exhibidos en la página web o la lista de precios, pueden variar en cualquier momento para compra individual. Esta variación puede o no visualizarse dentro de la página web o la lista de precios. Los motivos en los cuales se fundamentan dichos aumentos pueden corresponder a condiciones de mercado como el aumento de la tasa de cambio, precio del café en la bolsa de New York o políticas derivadas de impuestos o riesgos de tipo sanitario. <br>
		</p>
		<p class="text-break">		
			<strong><h6>10.	Descuentos.</h6></strong>
		</p>
		<p class="fs-6">
			Los descuentos que genere el sistema y los que estén asignados a los productos, no son acumulables con otras promociones.
		</p>
		<p class="text-break">		
			<strong><h6>11.	Propiedad intelectual.</h6></strong>
		</p>
		<p class="fs-6">
			El usuario conoce y acepta que todo copyright, marca registrada y demás derechos de propiedad industrial e intelectual sobre los materiales o contenidos que se aportan como parte de la página web nos corresponden en todo momento a TERESA o a quienes otorgaron a TERESA licencia para su uso.
		</p>
		<p class="text-break">		
			<strong><h6>12.	Acontecimientos fuera de control de TERESA.</h6></strong>
		</p>
		<p class="fs-6">
			Teresa no será responsable por ningún incumplimiento o retraso en el cumplimiento de alguna de las obligaciones asumidas, cuando el mismo se deba a acontecimientos que están fuera de su control razonable, por fuerza mayor, caso fortuito o hechos atribuibles a terceros, los cuales incluirán cualquier acto, acontecimiento, falta de ejercicio, omisión o accidente que esté fuera del control razonable de Teresa y entre otros, los siguientes: <br><br>

			•	Huelgas, cierres patronales, pandemias, epidemias u otras medidas reivindicativas. <br>
			•	Conmoción civil, revuelta, invasión, amenaza o ataque terrorista.<br>
			•	Incendio, explosión, tormenta, inundación, terremoto, hundimiento, epidemia o cualquier otro 	desastre natural. <br>
			•	Imposibilidad de uso de medios de transporte, públicos o privados.<br>
			•	Imposibilidad de utilizar sistemas públicos o privados de telecomunicaciones. <br>
			•	Actos, decretos, legislación, normativa o restricciones de cualquier gobierno o autoridad pública. aislamiento preventivo obligatorio decretados por el gobierno municipal, departamental y/o nacional, entre otros.  <br><br>

			Se entenderá que las obligaciones quedarán suspendidas durante el período en que la situación de imposibilidad continúe, y TERESA dispondrá entonces de una ampliación en el plazo para cumplir dichas obligaciones por un periodo de tiempo igual al que dure la fuerza mayor, caso fortuito o hecho de tercero.
		</p>
		<p class="text-break">		
			<strong><h6>13.	Modificaciones.</h6></strong>
		</p>
		<p class="fs-6">
			Las políticas descritas anteriormente están sujetas a cambios y modificaciones. Si se diese el caso de que fueren modificadas, estas estarán siendo publicadas en este mismo apartado, o en la página de inicio.<br><br>

			Las modificaciones introducidas no tendrán carácter retroactivo y, serán de aplicación una vez publicadas en el sitio web.
		</p>
	</div>	
	<div class="row align-items-center">
		<p class="fs-1">
			<strong><h3 style="text-align: center; color:#623E1A;">Políticas de devoluciones y reembolsos.</h3></strong>
		</p>	
		<p class="text-break">		
			<strong><h6>Descripción.</h6></strong>
		</p>
		<p class="fs-6">
			Para nosotros es importante que recibas el producto que solicitaste de la mejor manera y experiencia posible. Por ello nos empeñamos en que nuestros productos se procesen de acuerdo a estándares de calidad como de procesos.<br><br>

			Debido a la naturaleza subjetiva de las muchas facetas que se encuentran en el café, no podemos aceptar devoluciones basadas en disgustos o en "cambios de opinión", ya que solo ofrecemos el café más fresco. <br><br>

			Sin embargo, en el improbable caso de que tenga inquietudes con respecto a la calidad de su entrega, comuníquese con nosotros a través de <strong>ventas@gtcafeteresa.com</strong> y lo solucionaremos.
			Antes de contactarnos, por favor ayúdanos siguiendo estos pasos:<br>
			•	Comprueba tu email de confirmación para asegurarte de que no haya errores en la dirección de envío.<br>
			•	Verifica con el número de guía en la página de la empresa Courier encargada de hacerte la entrega, el Tracking o rastreo.
		</p>
		<p class="text-break">		
			<strong><h6>Cambios o devoluciones:</h6></strong>
		</p>
		<p class="fs-6">
			Respecto a los cambios y devoluciones no ofrecemos cambios ni devoluciones ya que una devolución reduciría sustancialmente la vida útil del producto. Además, nuestras políticas no permiten la reventa del café devuelto
		</p>

		<p class="text-break">		
			<strong><h6>Motivos de reembolso:</h6></strong>
		</p>
		<p class="fs-6">
		•	Si se le envía el producto incorrecto, el artículo está defectuoso o dañado. <br>
		•	Se podrá hacer cancelación de orden de compra siempre y cuando el producto aún no haya salido de la tienda.<br>
		•	El pedido no se ha entregado después de 10 días hábiles en cualquier parte de la república.<br>
		•	El producto fue extraviado por mensajería.<br>
		•	Se ha cobrado un monto incorrecto al cliente, el reembolso aplica la diferencia.<br><br>

		Debido a los diferentes escenarios que puede haber en las compras en línea, todos aquellos casos no contemplados en estas políticas se revisarán y procesarán. Favor enviar el suyo al correo: <strong>ventas@gtcafeteresa.com</strong>
		</p>
		<p class="text-break">		
			<strong><h6>Requisitos:</h6></strong>
		</p>
		<p class="fs-6">
		•	Proporcionar su nombre y datos de contacto <br>
		•	Contar con el comprobante de compra <br>
		•	Indicar el motivo por el cual solicita el reembolso <br>
		•	Indicar el número de productos que va a devolver <br>
		•	Forma de pago con la que se adquirió la compra.<br>
		•	En caso de que el producto este dañado o sea erróneo favor enviar fotos del producto y mandarlas al siguiente correo: <strong>ventas@gtcafeteresa.com</strong><br> 
		•	Las solicitudes de reembolso se analizarán y se dará avisó al cliente tanto en casos de proceder como en casos de no procedencia.<br>
		•	Los gastos de envío para la devolución del producto correrán por cuenta del cliente.
		Tenga en cuenta que el costo de envío y cualquier otro costo de envío de devolución no son reembolsables.<br>
		</p>		
		<p class="text-break">		
			<strong><h6>Tiempos.</h6></strong>
		</p>
		<p class="fs-6">
			El tiempo estimado para un reembolso, una vez autorizado es de 10 a 15 días hábiles.
		</p>			
	</div>
	<div class="row align-items-center">
		<p class="fs-1">
			<strong><h3 style="text-align: center; color:#623E1A;">Políticas de Privacidad.</h3></strong>
		</p>
		<p class="fs-6">
			El objetivo de las políticas de privacidad es proporcionar a los usuarios información sobre el uso de su información personal. <br><br>

			En Teresa nos tomamos muy en serio nuestra responsabilidad de proteger su información personal y su privacidad. En cualquier momento, tratamos la recopilación y el uso de información personal con el máximo cuidado y respeto.<br><br>

			Para comprender mejor nuestra política de privacidad, lea atentamente los siguientes párrafos. Describe la forma en que recopilamos, usamos, protegemos o manejamos su información personal de acuerdo con nuestro sitio web y el cumplimiento de los pedidos.<br><br>

			Si tiene dudas, sugerencias o comentarios con respecto al tema, contáctenos al siguiente correo 
			<strong>ventas@gtcafeteresa.com</strong>
		</p>			

		<p class="text-break">		
			<strong><h6>¿Qué tipo de información personal recopilamos?</h6></strong>
		</p>
		<p class="fs-6">
			La información personal que recopilamos incluye el nombre, la dirección de correo electrónico, los números de teléfono, la dirección o cualquier otra información que nuestros usuarios compartan voluntariamente durante el proceso de registro o pedido.
		</p>			
		<p class="text-break">		
			<strong><h6>¿Cómo usamos su información?</h6></strong>
		</p>
		<p class="fs-6">
			Principalmente, utilizaremos su información personal para procesar y cumplir con los pedidos. Compartimos la información requerida para cumplir con su pedido con nuestros socios de cumplimiento y mensajería. Además, podemos usar su información junto con los datos de uso analítico para mejorar nuestros productos y servicios, incluidas las ofertas de productos, la experiencia del usuario u otros medios que pueden mejorar la calidad de nuestro servicio.
		</p>			
		<p class="text-break">		
			<strong><h6>¿Cómo protegemos los datos de los usuarios?</h6></strong>
		</p>
		<p class="fs-6">
			Utilizamos varios enfoques para proteger la información personal de nuestros usuarios:<br><br>

			1. Nuestro sitio web, incluidos todos los servidores utilizados para almacenar información, está cifrado con SSL (Secure Socket Layer).<br>
			2. Nuestro sistema se escanea y actualiza regularmente para minimizar la probabilidad de infracciones.<br> 
			3. No almacenamos información de pago en ninguno de nuestros sistemas.<br>
			4. Utilizamos una pasarela de pago que se considera una de las soluciones más seguras de la industria.<br> 
			5. Solo una pequeña cantidad de empleados tiene acceso a los sistemas que almacenan información confidencial.<br>
		</p>			
		<p class="text-break">		
			<strong><h6>Cookies.</h6></strong>
		</p>
		<p class="fs-6">
			Nuestro sitio web emplea las cookies para poder identificar las páginas que son visitadas y su frecuencia. Esta información es empleada únicamente para análisis estadístico y después la información se elimina de forma permanente. Usted puede eliminar las cookies en cualquier momento desde su ordenador. Sin embargo, las cookies ayudan a proporcionar un mejor servicio de los sitios web, estás no dan acceso a información de su ordenador ni de usted, a menos de que usted así lo quiera y la proporcione directamente. Usted puede aceptar o negar el uso de cookies, sin embargo, la mayoría de navegadores aceptan cookies automáticamente pues sirve para tener un mejor servicio web. También usted puede cambiar la configuración de su ordenador para declinar las cookies. Si se declinan es posible que no pueda utilizar algunos de nuestros servicios.
		</p>	
		<p class="text-break">		
			<strong><h6>Divulgación a terceros.</h6></strong>
		</p>
		<p class="fs-6">
			Teresa no divulgara su información a terceros que no estén directamente relacionados con nuestro servicio. <br><br>
			Sin embargo, podemos proporcionar información personal a terceros que nos ayuden a cumplir con los pedidos o mejorar nuestro servicio.
			En algunos otros casos, podremos reservarnos el derecho a divulgar información personal a terceros cuando estemos obligados a hacerlo a para proteger los derechos, la propiedad o la seguridad de Teresa, sus clientes y/o afiliados. <br><br>
			Esto incluye especialmente medidas de protección contra el fraude y reducción del riego de crédito.
		</p>	
		<p class="text-break">		
			<strong><h6>Enlaces a terceros.</h6></strong>
		</p>
		<p class="fs-6">
			Este sitio web puede contener enlaces a otros sitios que pudieran ser de su interés. Una vez que usted de clic en estos enlaces y abandone nuestra página, ya no tendremos control sobre el sitio al que será redirigido y por lo tanto no somos responsables de los términos o privacidad ni de la protección de sus datos en estos otros sitios. Dichos sitios están sujetos a sus propias políticas de privacidad por lo cual es recomendable que los consulte para confirmar si usted está de acuerdo o no con las mismas.
		</p>	
	</div>
</div>
{% endblock %}